<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.qcby.mapper.InstituteMapper">
    <delete id="deleteInstitute">
        delete
        from dic_institute_info
        where id in
        <foreach collection="instituteIdList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="listAll" resultType="com.demo.qcby.entity.DicInstituteInfo">
        select *
        from dic_institute_info
    </select>
</mapper>
