<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.qcby.mapper.LessonMapper">
    <insert id="insertAttendance">
        insert into student_lesson_attendance(class_id, student_user_id, teacher_user_id, lesson_id, status, create_time)
        values
        <foreach collection="studentIdList" item="item" separator=",">
            (#{classId}, #{item}, #{teacherId}, #{lessonId}, #{status}, #{createTime})
        </foreach>
    </insert>

    <select id="listAll" resultType="com.demo.qcby.entity.StudentLesson">
        select *
        from student_lesson
        <where>
            1 = 1
            <if test="teacherUserName != null">
                and teacher_user_id in (
                    select id
                    from sys_user
                    where user_name like concat('%', #{teacherUserName}, '%')
                )
            </if>
            <if test="subject != null">
                and subject like concat('%', #{subject}, '%')
            </if>
            <if test="className != null">
                and class_id in (
                    select id
                    from dic_class_info
                    where class_name like concat('%', #{className}, '%')
                )
            </if>
            <if test="startTime != null and endTime != null">
                and start_time between #{startTime} and #{endTime} and end_time between #{startTime} and #{endTime}
            </if>
            <if test="teacherId != null">
                and teacher_user_id = #{teacherId}
            </if>
            <if test="studentId != null">
                and class_id = (
                    select student_class_id
                    from sys_user
                    where id = #{studentId}
                )
            </if>
        </where>
    </select>
    <select id="getStudent" resultType="java.lang.Long">
        select id
        from sys_user
        where student_class_id = #{classId}
    </select>
</mapper>
